/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

table {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

td {
    padding: 15px;
    border: 1px solid #ddd;
    font-size: 16px;
}

/* Diseño responsive */
@media (max-width: 768px) {
    table {
        margin: 20px;
    }

    td {
        padding: 10px;
    }

    #fondo_reserva_disponible input[type="submit"] {
        width: 100%;
        padding: 12px 0;
        font-size: 18px;
    }
}
