body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #F3F3F3;
}

header {
  background: #009688;
  text-align: center;
  color: white;
  padding: 20px 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a.active {
  text-decoration: underline;
}

.formulario {
  background: white;
  max-width: 500px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

button {
  background: #5CC8B2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #009688;
}

footer {
  background: #5CC8B2;
  text-align: center;
  color: white;
  padding: 15px;
}
