body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #F3F3F3;
  color: #222;
}

header {
  background: #5CC8B2;
  text-align: center;
  color: white;
  padding: 20px 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a.active {
  text-decoration: underline;
}

.info {
  background: white;
  margin: 40px auto;
  padding: 40px;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #5CC8B2;
  color: white;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 5px;
  text-align: center;
}

footer {
  background: #009688;
  color: white;
  text-align: center;
  padding: 15px;
}
