table {
        border-collapse: collapse;
        width: 70%;
        margin: 20px auto;
        font-family: Arial, sans-serif;
    }
    th, td {
        border: 1px solid #ccc;
        padding: 8px 12px;
        text-align: center;
    }
    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #e0f7fa;
    }

#fondo_reserva_disponible{
    background-color: rgb(137, 219, 137);
}

#fondo_reserva_reservado{
    background-color: rgb(236, 116, 83);
}